
@{
    ViewBag.Title = "AgendamentoADM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Agendamento</h1>
<br />
<div class="formuagendamento">
    <div>
        <label>Vagas: </label>
        <input type="text" placeholder=" digite a quantia " required="required" />
    </div>
    <div>
        <label>Especie: </label>
        <select required="required" name="Especie">
            <option value="" selected="selected">selecione</option>
            <option value="1">cachorro</option>
            <option value="2">gato</option>
            <option value="3">cavalo</option>
        </select>
    </div>

    <div>
        <label style="color:#000000"> sexo </label>
        <label for="sexo1"><input type="radio" value="M" id="sexo1" name="sexo" /> macho </label>
        <label for="sexo2"><input type="radio" value="F" id="sexo2" name="sexo" /> fêmia </label>
    </div>
    <div>
        <label style="color:#000000">Porte: </label>
        <label for="p1"><input type="radio" selected="selected" value="P" id="p1" name="porte" /> Pequeno </label>
        <label for="p2"><input type="radio" value="M" id="p2" name="porte" /> Medio </label>
        <label for="p3"><input type="radio" value="G" id="p3" name="porte" /> Grande </label>


    </div>
    <div>
        <label>Hora inicial: </label>
        <input type="time" placeholder=" digite a hora inicial " required="required" />
    </div>
    <div>
        <label>Hora final: </label>
        <input type="time" placeholder=" digite a hora final " required="required" />
    </div>
    <div>
        <label>Data: </label>
        <input type="date" placeholder=" digite a data" required="required" />
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <input type="button" class="botoes" value="Criar " formmethod="post" />

    <input type="button" class="botoes" value="limpar " formmethod="delete" />
    <a href="https://localhost:44333/Home/agenda"> <input type="button" class="botoes" value="voltar " formmethod="delete" /></a>
</div>


