
@{
    ViewBag.Title = "AgendaADM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <body>

        <h1 class="tituloAgenda">Agenda</h1>
        <table class="content-table" style=" align-self:center; text-align:center; align-content:center;">
            <thead>
                <tr>
                    <th>Porte</th>
                    <th>especie</th>
                    <th>sexo</th>
                    <th>vagas</th>
                    <th>Hora inicial</th>
                    <th>Hora final</th>
                    <th>Data</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>P</td>
                    <td>Cachorro</td>
                    <td>M</td>
                    <td>25</td>
                    <td>11:00</td>
                    <td>15:00</td>
                    <td>15/07/2020</td>
                </tr>
                <tr>
                    <td>p</td>
                    <td>Gato</td>
                    <td>F</td>
                    <td>30</td>
                    <td>8:00</td>
                    <td>12:00</td>
                    <td>20/07/2020</td>
                </tr>
                <tr>
                    <td>m</td>
                    <td>cachorro</td>
                    <td>uni</td>
                    <td>35</td>
                    <td>7:00</td>
                    <td>12:00</td>
                    <td>10/07/2020</td>
                </tr>
            </tbody>


        </table> <br /> <br />
    @Html.ActionLink("", "AgendamentoADM", "Admin") <input type="button" class="botoes" style=" left:10px;" value="Criar Agendamento" /></a>
        <input type="button" class="botoes" style="  right:10px;" value="editar" />
        <input type="button" class="botoes" style="right:92vh;" value="excluir" />


    </body>
